In [1]:
# import custom functions
from get_candidates import get_candidates
from get_row_col import get_row_col
from convert_to_binary import convert_to_binary
from naked_for_how_long import naked_for_how_long

# other functions we need
from ast import literal_eval

import pandas as pd
import numpy as np

In [2]:
# import SQL dependencies
import sqlite3

# connect to .db
con = sqlite3.connect("../data-collection/nyt-sudoku.db")
cur = con.cursor()

doks_perf = pd.read_sql("SELECT * from doks_performance;",
           con)

doks_easy = pd.read_sql("SELECT * from doks_easy;",
           con)

In [3]:
# format doks_performance date to match doks_easy format
doks_perf['date'] = pd.to_datetime(doks_perf['date'])

# format date column in doks_easy
doks_easy['date'] = pd.to_datetime(doks_easy['date'])

# convert all string of lists to lists
doks_perf['doks_order'] = doks_perf['doks_order'].apply(literal_eval)
doks_perf['times'] = doks_perf['times'].apply(literal_eval)

doks_easy['puzzle'] = doks_easy['puzzle'].apply(literal_eval)
doks_easy['solution'] = doks_easy['solution'].apply(literal_eval)

In [4]:
merged = pd.merge(left=doks_perf,
        right=doks_easy,
        on='date',
        how='left')

In [5]:
# drop those days for which we don't have original nyt data
merged = merged.dropna()

In [6]:
# only keep the columns we need
merged = merged[['date', 'puzzle', 'solution', 'doks_order', 'times']]

In [7]:
naked_num_steps = pd.DataFrame(columns=[i for i in range(81)])

In [8]:
naked_num_steps

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80]
Index: []

[0 rows x 81 columns]

In [9]:
for record in range(len(merged)):
    temp_df = pd.DataFrame(naked_for_how_long(merged.iloc[record,3],
                  merged.iloc[record,1],
                  merged.iloc[record,2]),
                    index=[0])
    
    naked_num_steps = naked_num_steps.append(temp_df)

43
43
45
45
43
45
43
43
43
45
43
43
43
45
45
43
43
43
45
43
49
43
43
43
46
43
43
43
45
45
43
43
43
43
43
44
44
43
45
45
45
44
48
49
47
44
45
45
48
43
43
43
48
47
43
44
43
44
44
44
50
52
44
44
44
48
45
43
47
43
44
48
45
45
44
44

In [10]:
naked_num_steps.to_csv('naked_num_steps.csv', index=False)

In [11]:
naked_num_steps = naked_num_steps.replace(0, np.nan)

In [12]:
avg_steps_naked = np.array(np.round(naked_num_steps.sum(axis=0) / naked_num_steps.notna().sum(axis=0), 2)).reshape(9,9)

In [13]:
avg_num_steps_naked = np.array(np.round(naked_num_steps.sum(axis=0) / naked_num_steps.notna().sum(axis=0), 2)).mean()

In [18]:
avg_num_steps_naked

11.796790123456791

In [16]:
avg_steps_naked.flatten()

array([ 9.45, 10.35, 12.73, 13.32,  9.83,  8.79,  9.5 ,  9.03,  9.65,
        9.  , 13.45,  8.86,  9.46, 12.78, 12.87,  9.48,  9.12, 11.28,
       10.08, 11.4 , 11.23,  9.68, 11.  , 13.43, 10.63, 16.94, 12.07,
        9.88, 13.  , 12.78, 14.26, 10.  , 12.21, 12.16, 15.7 , 11.26,
       11.46, 12.57, 12.41,  9.38, 12.27, 11.86, 11.46, 14.75,  8.85,
       12.52, 12.81,  9.72, 15.53, 12.17, 15.1 , 12.  ,  8.95,  9.62,
       13.84, 12.68, 15.88, 10.65, 15.58, 13.14, 10.57, 10.14, 11.81,
        9.87,  9.42, 17.94, 10.17, 15.  ,  6.38, 11.43, 12.34, 15.83,
        9.4 , 14.3 , 10.14, 12.39, 17.71, 14.93, 14.52,  9.69,  9.7 ])

In [17]:
np.round(avg_steps_naked - avg_num_steps_naked, 2).flatten()

array([-2.35, -1.45,  0.93,  1.52, -1.97, -3.01, -2.3 , -2.77, -2.15,
       -2.8 ,  1.65, -2.94, -2.34,  0.98,  1.07, -2.32, -2.68, -0.52,
       -1.72, -0.4 , -0.57, -2.12, -0.8 ,  1.63, -1.17,  5.14,  0.27,
       -1.92,  1.2 ,  0.98,  2.46, -1.8 ,  0.41,  0.36,  3.9 , -0.54,
       -0.34,  0.77,  0.61, -2.42,  0.47,  0.06, -0.34,  2.95, -2.95,
        0.72,  1.01, -2.08,  3.73,  0.37,  3.3 ,  0.2 , -2.85, -2.18,
        2.04,  0.88,  4.08, -1.15,  3.78,  1.34, -1.23, -1.66,  0.01,
       -1.93, -2.38,  6.14, -1.63,  3.2 , -5.42, -0.37,  0.54,  4.03,
       -2.4 ,  2.5 , -1.66,  0.59,  5.91,  3.13,  2.72, -2.11, -2.1 ])